        <section id="a1-article">
                <div class="banner-wrapper-article"> 

                    <p class="current-page-article">首頁</p>
                    <p class="path-article">首頁/文章總覽</p>

                </div>
                <div class="horizon3-article"></div> 
            <p class="article-path-article">首頁/文章總覽/{{ blog_title }}</p>  
        </section>
        
                      

        <section id="a2-article">
                <div class="article-wrapper-article">
                    <div class="article-info-article">
                        <h2 class="article-title-article">{{ blog_title }}</h2>
                        <div class="article-detail-article">
                            <div class="avatar-article"><img src="/img/avatar_sm.png" alt=""></div>
                            <h3 class="title-article">coffee space ‧</h3>
                            <h3 class="date-article">{{ blog_date }}</h3>
                        </div>
                    </div>
                    <div class="article-content-article">   
                        <div class="article-img-article" style="background-image: url('{{ blog_image1 }}');"></div>
                        <h3 class="content-article">{{ blog_content1 }}</h3>                        
                    </div>              
                    </div>

                </div>
        </section>